body{
    margin-left: 2rem;
    margin-right: 4rem;
    margin-top: 1.5rem;
}

span.jsx-3468109796 {
    font-size: x-large;
    font-weight: 700;
    color: #229ccc
}

.tab--selected.jsx-3468109796 {
    border-top: 3px solid #1d8ab6;
}

.tab.jsx-3468109796:last-of-type.tab--selected {
     border-top: 3px solid #1d8ab6;
}

.card-body{
    margin-top: 2rem;
    height: 350px;
}
.selec-client{
    margin-top: 2rem;
    margin-bottom: 0;
}

.attach-file, .selec-client{
    font-size: x-large;
    margin-left: 0.5rem;
}

.attach-file-container{
    margin-top: 2rem;
}

.select-file-link{
    font-weight: 400;
    color: #229ccc;
}
a.upload-link-container{
    text-decoration: none;
}

.select-file-link:hover{
    color:#77d1f1
}

.upload-icon{
    width: fit-content;
}

.upload-icon:hover{
    color:#77d1f1
}

.upload-link-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
}

.icon-container{
    width: 50%;
}

.major-donwload-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.download-button{
    width: 30rem;
    border-radius: 5px;
    color: #ffffff;
    background-color: #1d8ab6;
    border-color: #1d8ab6;
    text-align: center;
    margin-top: 1rem;
    font-size: medium;
    display: flex;
    justify-content: space-between;
}

.donwload-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.download-button:hover{
    background-color: #b9e8fbc7;
    color: #080808;
    border-color: #b9e8fbc7;
    cursor: pointer;
}

.filaname-container{
    margin-left: 3rem;
    font-size: large;
    color:#1d8ab6;
    font-size: x-large;
}

.download-csv-btn{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.container-filename-icon-dwn{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.p-download-csv{
    width: 25rem;
    background-color: #1d8ab6;
    color: #ffffff;
    margin-top: 0.5rem;
    border-radius: 10px;
    margin-left: 15px;
}

.p-download-csv:hover{
    cursor: pointer;
    background-color: #4595b4;
    border-color: #b9e8fbc7;

}

.btn-tab{
    width: 50%;
    margin: 0.5rem;
    font-size: large;
}

.tabs-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.btn-tab:hover{
    cursor: pointer;
    border-color:  #29a9e0;
    color: #29a9e0;
}

.fa-trash-can{
    color:red;
    font-size: x-large;
}

.clear-data-icon-span-container:hover{
    cursor: pointer;
    color: rgb(245, 97, 97);
}

.clear-data-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.clean-data-text{
    font-size: large;
    font-weight: 400;
}

.modal-content{
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
}

.modal-footer{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.mr-auto, .btn-primary{
    background-color: #1d8ab6;
    border-color: #1d8ab6;
}

.btn-danger{
    background-color: red;
    border-color: red;
}

#error-client-filename{
    margin-top: 20rem;
    text-align: center;
}

#accept-btn-error{
   background-color: #1d8ab6;
   border-color: #1d8ab6;
}

#accept-btn-error:hover{
    background-color: #2cb7ee;
    border-color: #2cb7ee;
}

#filename-error{
    font-style: italic;
}

.completed-step-bnt-container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

#complete-first-step-btn{
    color: white;
    background-color: #27c12a;
    border-color: #27c12a;
    border-radius: 5px;
}

#complete-first-step-btn:hover{
    cursor: pointer;
    background-color: #6ed570;
    border-color: #6ed570;
}

.fa-circle-check{
    color: #24c927;
}
