body{
    margin-left: 2rem;
    margin-right: 4rem;
    margin-top: 1.5rem;
}

span.jsx-3468109796 {
    font-size: x-large;
    font-weight: 700;
    color: #229ccc
}

.tab--selected.jsx-3468109796 {
    border-top: 3px solid #1d8ab6;
}

.tab.jsx-3468109796:last-of-type.tab--selected {
     border-top: 3px solid #1d8ab6;
}

.card-body{
    margin-top: 2rem;
    height: 350px;
}

.attach-file{
    font-size: x-large;
    margin-left: 0.5rem;
}

.attach-file-container{
    margin-top: 2rem;
}

.select-file-link{
    font-weight: 400;
    color: #229ccc;
}
a.upload-link-container{
    text-decoration: none;
}

.select-file-link:hover{
    color:#77d1f1
}

.upload-icon{
    width: fit-content;
}

.upload-icon:hover{
    color:#77d1f1
}

.upload-link-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.icon-container{
    width: 50%;
}

.major-donwload-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.download-button{
    width: 23rem;
    border-radius: 10px;
    color: #ffffff;
    background-color: #1d8ab6;
    border-color: #1d8ab6;
    text-align: center;
    margin: 1rem;
}

.donwload-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.download-button:hover{
    background-color: #b9e8fbc7;
    color: #080808;
    border-color: #b9e8fbc7;
    cursor: pointer;
}

.filaname-container{
    margin-left: 3rem;
    font-size: large;
    color:#1d8ab6;
}

.download-csv-btn{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.container-filename-icon-dwn{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.p-download-csv{
    width: 25rem;
    background-color: #dce7eb;
    color: #090909;
    margin-top: 0.5rem;
    border-radius: 10px;
    margin-left: 15px;
}

.p-download-csv:hover{
    cursor: pointer;
}

.btn-tab{
    width: 50%;
    margin: 0.5rem;
}

.tabs-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.fa-trash-can{
    color:red;
}
.fa-trash-can:hover{
    cursor: pointer;
    color: rgb(245, 97, 97);
}
